ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 30px;
}

li {
    list-style-type: none;
    width: 200px;
}

img {
    width: 100px;
    height: auto;
}

a {
    color:darkslategray;
    text-decoration: none;
}
