/* @import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Tangerine&family=Taviraj:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Berkshire+Swash&family=Tangerine&family=Taviraj:wght@400;600&display=swap');


/* #0A141C
#253B49
#350F3B
#616161
#000000 */


body, html {
    background-color: #000000;
}

h1, h2 {
    text-align: center;
    color: black;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #253B49;
    padding: 20px;
    margin: 10px;
    border: 1px solid whitesmoke;
}

li {
    list-style-type: none;
    align-items: center;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 grey;
}

a {
    color:rgb(7, 17, 17);
    text-decoration: none;
    box-shadow: 0 4px 8px 0 grey;
    height: auto;
    width: 150px;
}

.mainplace {
    display: flex;
    justify-content: center;
    background-color: #616161;
    height: 420px;
    width: 300px;
}

.mainplace img {
    height: auto;
    width: 300px;
    border: 1px solid violet;
    border-radius: 5px;
}

.pcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #253B49;
    border: 1px solid whitesmoke;
}

.pitem {
    justify-content: center;
    background-color: #616161;
    width: 600px;
    box-shadow: 0 4px 8px 0 grey;
    font-family: 'Taviraj', serif;
}

.pitem img {
    align-items: center;
    width: 400px;
    height: auto;
    border-radius: 5px;
    border: 1px solid purple;
}

.header, .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: whitesmoke;
    font-family: 'Taviraj', serif;
    font-size: 1.5rem;
    border-radius: 10px;
}

.homepage {
    font-size: 5rem;
    color: black;
    font-family: 'Alex Brush', cursive;
    text-align: center;
    background-color: #253B49;
    
}

.intro {
    height: 800px;
    background-image: url('../assets/home.png');
    
}

.register {
    
    height: 800px;
}

form {
    background-color: thistle;
}
